h1{
    color: white;
    background-color: black;
    text-align: center;

}
#fr{
    background-color: blanchedalmond;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.square{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shapes{
    display: flex;
    justify-content: center;
    align-content: center;
    margin :20 px
}
.square2{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#shapes2{
    display: grid;
    grid-template-columns: repeat(3, 200px);
}